beautifulsoup4
requests
selenium
pandas
numpy
sqlalchemy
psycopg2-binary
apache-airflow
matplotlib
seaborn
plotly
python-dotenv
ipykernel 
webdriver-manager
undetected-chromedriver 
setuptools
scikit-learn
statsmodels

